---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact">
  <div class="page framed">

  <div style="margin-top: 1rem;">

    <h1>Contact</h1>

  <div style="margin-top: .5rem;">

    <p>
Every good project starts with a conversation. Tell me what you’re working on, and I’ll share
how I can help. Whether it’s video, photos, or just kicking around ideas over coffee, I’d love to hear from you.
    </p>
    <div class="contact-info">
      <hr style="margin-top: 3rem; margin-bottom: 2rem;">
      <h2>Let's Connect</h2>
      <p><strong>Email:</strong> <a href="mailto:hello@bryantneal.com">hello@bryantneal.com</a></p>
      <p><strong>Phone:</strong> <a href="tel:585-512-8999">585-512-8999</a></p>
      <p><strong>Location:</strong> <a href="https://www.google.com/maps/place/Rochester,+NY/" target="_blank" rel="noopener noreferrer">Rochester, New York</a></p>
    </div>
    <hr style="margin-top: 4rem; margin-bottom: 0;">
    <div style="margin-top: 4rem;"></div>
    </div>
  </div>
  </div>
</BaseLayout>


<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
  
  .contact-info {
    margin: 2rem 0;
    text-align: center;
  }
  
  .contact-info a {
    color: var(--accent);
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
</style>
