---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const services = (await getCollection('services'))
  .filter(service => !service.data.draft)
  .sort((a, b) => a.data.title === 'Vintage Media' ? -1 : 1);
---

<BaseLayout title="Bryant Neal">
    
  <div class="index-content framed" style="margin-top: .5rem; margin-bottom: 1rem;">

  <h1 id="hello-there">Hello There!</h1>

  <p>I'm <strong>Bryant Neal</strong> a fulltime filmmaker, photographer, and analog-to-digital archivist in Rochester, NY. I make Super 8, Camcorder, and Modern 4K films, and I preserve stories by converting VHS & film to modern formats.</p>

  <div style="text-align: right;">
    <a href="/about/" class="button">About Me</a>
  </div>

  <div style="margin-top: .5rem;"></div>

  </div>

  <div class="services">
    {services.map((service) => <PostCard post={service} />)}
  </div>


</BaseLayout>